
<div class="well filter">
  <button ui-sref="home" class="btn btn-default btn-sm">Home</button>
  <button ui-sref="sign-in" class="btn btn-default btn-sm">Attendance</button>

  <!-- ==== ADD STUDENT ==== -->
    <form ng-submit="addStudent(studentName)" class="adminNav form-inline" role="form">
      <input type="text" ng-model="studentName" class="form-control input-sm" id="student-name" placeholder="New Student Name">
      <button type="submit" class="btn btn-default btn-sm">Submit</button>
    </form>

 <!-- ==== SEARCH STUDENTS ==== -->
    <form class="adminSearch form-inline" role="form" style="float: right">
        <input ng-model="query" type="text" class="form-inline input-sm" id="student-name" placeholder="Search Students">
    </form>
</div>



<!-- ==== LIST STUDENTS ==== -->
<div class="col-md-6">
  <h2 ng-show="students.length && filtered.length">Student List</h2>
  <h2 ng-show="students.length && !filtered.length">No Matches</h2>

  <ul>
    <li ng-repeat="student in filtered = (students | filter:query)">

      <span ng-click="editing = true" ng-hide="editing">
        <h5>{{student.name}}
        <a class="btn btn-default btn-sm">Edit</a></h5>
      </span>

      <span class="form-group" ng-show="editing" ng-submit="editing = false">
        <form class="form-inline" role="form">
          <input type="text" class="form-control input-sm" ng-model="student.name" placeholder="Name" required/>
          <button class="btn btn-default btn-sm" type="submit">Save</button>
          <button class="btn btn-danger btn-sm" ng-click="deleteStudent(student)">Delete</button>
        </form>
      </span>

    </li>
  </ul>
</div>









<!-- ADMIN (List Here / Not Here)============= -->
  <!-- <div class='row admin'>

    <div class='col-md-6'><h2>HERE</h2>
      <ul>
        <li ng-repeat='student in students'>
          <span>{{student.name}}</span>
        </li>
      </ul>
    </div>

    <div class='col-md-6'> <h2>NOT HERE</h2>
      <ul>
        <li ng-repeat='student in students'>
          <span>{{student.name}}</span>
        </li>
      </ul>
    </div>
  </div> -->




<div ui-view> </div>
